<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTutorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceTutorSoap1" />
                <binding name="WebServiceMedicoCargoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceMedicoCargoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44300/WebServiceTutor.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTutorSoap"
                contract="ServiceTutor.WebServiceTutorSoap" name="WebServiceTutorSoap" />
            <endpoint address="https://localhost:44300/WebServiceMedicoCargo.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMedicoCargoSoap"
                contract="ServiceMedico.WebServiceMedicoCargoSoap" name="WebServiceMedicoCargoSoap" />
        </client>
    </system.serviceModel>
</configuration>